.primary {
  background-color: #0f1c70;
  border-color: #0f1c70;
  padding: 10px 40px;
}

.outlineprimary {
  color: #0f1c70;
  background-color: #ffffff;
  border-color: #0f1c70;
  padding: 10px 40px;
}
